@charset "UTF-8";
/* CSS Document */

/*TYPE & COLOR*/
*{ 
	Box-sizing: Border-box;
}

html, body{
	height: 100%;
}

h1{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
}

h2{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 2em;
}

h3{
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 1.25em;
}

.quote{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 3em;
	display: block;
}

body{
	font-family: 'PT Serif', serif;
	color: #09093d;
	font-size: 15px;
	line-height: 1.5;
/*	background-color: #f2f3f4;*/
}

a{
	color:#09093d;
}

.current{
	font-weight: bold;
	text-decoration: underline;
}

.maincontent{
	display: block;
}

/*HEADER & FOOTER*/

header{
	background-color:#f2f3f4;
}

footer{
	background-color:#f2f3f4;
	text-align: center;
	padding: 25px;
	font-size: .75em;
	bottom: 0px;
/*	position: fixed;*/
	width: 100%;
}

/*SKIP TO CONTENT*/

a.skip{
  position: absolute;
  top: -1000px;
  left: -1000px;
  text-align: left;
  overflow: hidden;
}

a.skip:focus{
  left: 0;
  top: 0;
}

/*BODY CONTENT STYLING*/
.bodycontent{
	width: 80%;
	margin: 0 auto;
	overflow:scroll;
	text-align: center;
	padding: 100px;
}

.bodytext {
	padding-top:25px;
}

/*DOG HERO BANNER & PARALLAX*/
/* Hero image code adapted from https://www.w3schools.com/howto/howto_css_hero_image.asp */

.banner {
    background-image: url("../images/Untitled-4.svg");
    height: 100vh;
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
	display: block;
}

.banner-text {
	display: inline;
	text-align: left;
	position: absolute;
	width: 40%;
	top: 30%;
	left: 0;
	margin: 0px 25px;
	}

.parallax {
		display: block;
		background-image: linear-gradient(rgba(223, 230, 245, 0.75), rgba(223, 230, 245, 0.75)), url("../images/dogs/pirlo.png");
		height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		position:relative;
}



/*LOGO & NAV*/
/*Code from https://stackoverflow.com/questions/35163621/nav-bar-align-logo-on-left-links-on-right*/

nav {
  background-color:#f2f3f4;
  margin: 0;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  display: block;
  line-height: 2em;
  padding: 1em 1em;
  text-decoration: none;

}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li a.logo {
  padding: 10px;
}
nav ul li a:hover {
}

.logo img {
	height: 30px;
}

/*FLEX GRIDS*/
.flex-grid-thirds {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-grid-thirds .col {
	width: 30%;
	border: 0px solid;
	border-radius: 25px;
	box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
	text-align: center; 
	padding: 20px;
}

.row {
  display: flex;
}
.col-5 {
  display: inline-block;
  width: 100%;
  text-align: center;
}


/*FLIP CARDS*/
.container {
	margin: 50px;
}

/*-------- flex container --------*/
.flex-container {
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-flex-flow: row wrap;
	position: relative;
}
.flex-item {
	color: #fff;
	height: 210px;
	margin: 10px 0;
	padding: 0;
	width: 225px;
	position: relative;
}
.flex-item-inner {
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 210px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.flex-item-inner a {
	color: #fff;
	cursor: pointer;
}

.gallery img{
	height: inherit;
	margin: 10px;
}

.gallery{
	display: flex; 
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	overflow:hidden;
}


/*FLIP CARDS*/
/*Adopted from https://codepen.io/edeesims/pen/iGDzk*/

.card {
  width: 250px;
  height: 250px;
  perspective: 500px;
  margin: 10px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card:focus .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:#f2f3f4;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
/*  line-height: 250px;*/
  color: #03446A;
  text-align: center;
  backface-visibility: hidden;
}

.back {
  background-color:#f85949;
  color: white;
  transform: rotateY( 180deg );
/*  margin: 10px;*/
  text-align: center;
}

/*FILTERING*/
/*https://www.w3schools.com/howto/howto_js_filter_elements.asp*/

.filterDiv {
/*
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
*/
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


/* Add a dark background to the active button */
.button.active {
  background-color:#fe1108;
  color: white;
}


/*BUTTONS*/
/*Adapted styling from https://codepen.io/LeoPragi/pen/gzrGoG*/

.button {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.025em;
	width: auto;
	height: 50px;
	color: #fff;
	background-color:#f85949;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
  }

.button:hover {
  background-color:#fe1108;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-5px);
}

.button:focus {
  background-color:#fe1108;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-5px);
}

/*FORMS*/
/*https://www.w3schools.com/howto/howto_css_contact_form.asp*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
 font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.025em;
	width: auto;
	height: 50px;
	color: #fff;
	background-color:#f85949;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color:#fe1108;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-5px);
}

input[type=submit]:focus {
    background-color:#fe1108;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-5px);
}

/* Add a background color and some padding around the form */
.form {
width: 80%;
	margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*MEDIA QUERIES*/